<div class="container bg-light text-dark p-4 mh-100 d-flex flex-column">
    <h1 class="mb-4">Proyectos Enviados</h1>
    <div class="d-flex justify-content-center align-items-center">
        <!--<input type="text" class="form-control" placeholder="Buscar proyectos...">-->
            <div class="btn-group">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  Clickable outside
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                  <li><a class="dropdown-item" href="#">Menu item</a></li>
                </ul>
              </div>
    </div>
    <div id="proyectosContainer" class="flex-grow-1">
        @for(proyecto of proyectos ; track proyecto.getIdProyecto()){
            <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">{{proyecto.getIdProyecto()+".-"+proyecto.getNombre()}}</h5>
                    <p class="card-text">Estado: {{obtenerEstado(proyecto.getEstadoDelProyecto())}}</p>
                    @if(proyecto.getEstadoDelProyecto()==0){
                        <div class="d-flex">
                            <button class="btn btn-primary ms-auto" (click)="continuarEdicion(proyecto.getIdProyecto())">Continuar edición</button>
                        </div>
                    }
                </div>
            </div>            
        }@empty{
            <h3>Sin proyectos, crea uno nuevo</h3>
        }
    </div>
    <div class="d-flex justify-content-end">
        <a (click)="nuevoProyecto()" class="btn btn-primary rounded-circle m-3">
            <i class="bi bi-plus-lg">Nuevo Proyecto</i>
        </a>
    </div>
