<div class="container bg-light text-dark p-4 mh-100 d-flex flex-column rounded-5 shadow">
    <h1 class="mb-4">Proyectos Enviados</h1>
    <div class="row d-flex justify-content-between align-items-center mb-4">
        <div class="input-group col-9" [formGroup]="formulario">
            <input type="text" class="form-control" formControlName="txtBuscar" placeholder="Buscar proyectos...">
            <select class="form-control form-select" formControlName="optFiltrar">
                <option value="-1">Todos</option>
                <label for="opt1" class="sinEnviar">a</label><option value="0" name="opt1">Sin enviar</option>
                <option value="1" class="revision">En revisión</option>
                <option value="2" class="aceptado">Publicado</option>
                <option value="3" class="comenzado">Comenzado</option>
                <option value="4" class="terminado">Terminado</option>
                <option value="5" class="rechazado">Rechazado</option>
            </select>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <a (click)="nuevoProyecto()" class="btn btn-primary rounded-circle">
                <i class="bi bi-plus-lg">Nuevo Proyecto</i>
            </a>
        </div>
    </div>
    
    
    <div id="proyectosContainer" class="flex-grow-1 d-flex">
        @if(busqueda==""){
                @for(proyecto of proyectos ; track proyecto.getIdProyecto()){
                
                    @if(filtro==-1){
                        <div class="d-flex contenedor">
                        <div class="card mb-2 shadow-sm bg-success-subtle col-11 ">
                            @switch(proyecto.getEstadoDelProyecto()) {
                                @case(0){
                                    <div class="indicador sinEnviar mb-3 shadow-sm col-1"></div>
                                }
                                @case(1){
                                    <div class="indicador enRevision mb-3 shadow-sm col-1"></div>
                                }
                                @case(2){
                                    <div class="indicador aceptado mb-3 shadow-sm col-1"></div>
                                }
                                @case(3){
                                    <div class="indicador comenzado mb-3 shadow-sm col-1"></div>
                                }
                                @case(4){
                                    <div class="indicador terminado mb-3 shadow-sm col-1"></div>
                                }
                                @case(5){
                                    <div class="indicador rechazado mb-3 shadow-sm col-1"></div>
                                }
                                @default{
                                    <div>Estado desconocido</div>
                                }
                            }
                            <div class="card-body">
                                @if(proyecto.getNombre()!=""){
                                    <h5 class="card-title">{{proyecto.getIdProyecto()+".-"+proyecto.getNombre()}}</h5>
                                }@else{
                                    <h5 class="card-title">{{proyecto.getIdProyecto()+".-"}} sin definir</h5>
                                }
                                
                                <p class="card-text">Estado: {{obtenerEstado(proyecto.getEstadoDelProyecto())}}</p>
                                @if(proyecto.getEstadoDelProyecto()==0){
                                    <div class="d-flex">
                                        <button class="btn btn-primary ms-auto" (click)="continuarEdicion(proyecto.getIdProyecto())">Continuar edición</button>
                                    </div>
                                }
                            </div>
                        </div>      
                        </div>      
                    }@else if(proyecto.getEstadoDelProyecto()==filtro){
                        <div class="d-flex contenedor">
                        <div class="card mb-2 shadow-sm bg-success-subtle col-11">
                            @switch(proyecto.getEstadoDelProyecto()) {
                                @case(0){
                                    <div class="indicador sinEnviar mb-3 shadow-sm col-1"></div>
                                }
                                @case(1){
                                    <div class="indicador enRevision mb-3 shadow-sm col-1"></div>
                                }
                                @case(2){
                                    <div class="indicador aceptado mb-3 shadow-sm col-1"></div>
                                }
                                @case(3){
                                    <div class="indicador comenzado mb-3 shadow-sm col-1"></div>
                                }
                                @case(4){
                                    <div class="indicador terminado mb-3 shadow-sm col-1"></div>
                                }
                                @case(5){
                                    <div class="indicador rechazado mb-3 shadow-sm col-1"></div>
                                }
                                @default{
                                    <div>Estado desconocido</div>
                                }
                            }
                            <div class="card-body">
                                <h5 class="card-title">{{proyecto.getIdProyecto()+".-"+proyecto.getNombre()}}</h5>
                                <p class="card-text">Estado: {{obtenerEstado(proyecto.getEstadoDelProyecto())}}</p>
                                @if(proyecto.getEstadoDelProyecto()==0){
                                    <div class="d-flex">
                                        <button class="btn btn-primary ms-auto" (click)="continuarEdicion(proyecto.getIdProyecto())">Continuar edición</button>
                                    </div>
                                }
                            </div>
                        </div> 
                    </div>
                    }

               
            }    
            @empty{
                <h3>Sin proyectos, crea uno nuevo</h3>
            }
        }@else{
            @for(proyecto of getProyectosBusqueda();track proyecto.getIdProyecto()){
                <div class="d-flex">
                    @if(filtro==-1){
                        @switch(proyecto.getEstadoDelProyecto()) {
                            @case(0){
                                <div class="indicador sinEnviar mb-3 shadow-sm col-1 align-self-center"></div>
                            }
                            @case(1){
                                <div class="indicador enRevision mb-3 shadow-sm col-1 align-self-center"></div>
                            }
                            @case(2){
                                <div class="indicador aceptado mb-3 shadow-sm col-1 align-self-center"></div>
                            }
                            @case(3){
                                <div class="indicador comenzado mb-3 shadow-sm col-1 align-self-center"></div>
                            }
                            @case(4){
                                <div class="indicador terminado mb-3 shadow-sm col-1 align-self-center"></div>
                            }
                            @case(5){
                                <div class="indicador rechazado mb-3 shadow-sm col-1 align-self-center"></div>
                            }
                            @default{
                                <div>Estado desconocido</div>
                            }
                        }
                        <div class="card mb-2 shadow-sm bg-success-subtle col-11">
                            <div class="card-body">
                                <h5 class="card-title">{{proyecto.getIdProyecto()+".-"+proyecto.getNombre()}}</h5>
                                <p class="card-text">Estado: {{obtenerEstado(proyecto.getEstadoDelProyecto())}}</p>
                                @if(proyecto.getEstadoDelProyecto()==0){
                                    <div class="d-flex">
                                        <button class="btn btn-primary ms-auto" (click)="continuarEdicion(proyecto.getIdProyecto())">Continuar edición</button>
                                    </div>
                                }
                            </div>
                        </div>            
                    }@else if(proyecto.getEstadoDelProyecto()==filtro){
                        @switch(proyecto.getEstadoDelProyecto()) {
                            @case(0){
                                <div class="indicador sinEnviar mb-3 shadow-sm col-1 align-self-center"></div>
                            }
                            @case(1){
                                <div class="indicador enRevision mb-3 shadow-sm col-1 align-self-center"></div>
                            }
                            @case(2){
                                <div class="indicador aceptado mb-3 shadow-sm col-1 align-self-center"></div>
                            }
                            @case(3){
                                <div class="indicador comenzado mb-3 shadow-sm col-1 align-self-center"></div>
                            }
                            @case(4){
                                <div class="indicador terminado mb-3 shadow-sm col-1 align-self-center"></div>
                            }
                            @case(5){
                                <div class="indicador rechazado mb-3 shadow-sm col-1 align-self-center"></div>
                            }
                            @default{
                                <div>Estado desconocido</div>
                            }
                        }
                        <div class="card mb-2 shadow-sm bg-success-subtle col-11">
                            <div class="card-body">
                                <h5 class="card-title">{{proyecto.getIdProyecto()+".-"+proyecto.getNombre()}}</h5>
                                <p class="card-text">Estado: {{obtenerEstado(proyecto.getEstadoDelProyecto())}}</p>
                                @if(proyecto.getEstadoDelProyecto()==0){
                                    <div class="d-flex">
                                        <button class="btn btn-primary ms-auto" (click)="continuarEdicion(proyecto.getIdProyecto())">Continuar edición</button>
                                    </div>
                                }
                            </div>
                        </div>
                    }

                </div>
            }    
            @empty{
                <h3>Sin proyectos, crea uno nuevo</h3>
            }
        }
    
            
    </div>