.card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s;
}
.card{
    display: flex;
}
.contenedor{
    width: 20%;
    margin: 1%;
    position: relative;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
.btn-outline-secondary {
    border-color: #61666b;
}
.input-group {
    max-width: 400px;
}
.indicador{
    position: absolute;
    align-self: flex-end;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    z-index: 10px;
}
div.sinEnviar{
    background-color: rgb(247, 127, 83);;
    /*color: rgb(247, 127, 83);¨*/
}
div.rechazado{
    background-color: red;
}
div.aceptado{
    background-color: green;
    color: green;
}
div.enRevision{
    background-color: gold;
}
div.comenzado{
    background-color: #007bff;
}
div.terminado{
    background-color: slateblue;
}