<div class="container bg-light text-dark p-4 mh-100 d-flex flex-column rounded-5 shadow">
    <div id="header" class="d-flex justify-content-between">
        <div>
            <h1 class="mb-4">Proyectos Enviados</h1>
        </div>
        <div>
            <select (change)="seleccionarNuevaEmpresa()" [formControl]="optEmpresa">
                @for(empresa of empresas ; track empresa.getIdEmpresa()){
                    <option value="{{empresa.getIdEmpresa()}}">{{empresa.getNombre()}}</option>
                }
            </select>
        </div>
        
    </div>
    
    <div class="row d-flex justify-content-between align-items-center mb-4">
        <div class="input-group col-9" [formGroup]="formulario">
            <input type="text" class="form-control" formControlName="txtBuscar" placeholder="Buscar proyectos...">
            <select class="form-control form-select" formControlName="optFiltrar">
                <option value="-1">Todos</option>
                <label for="opt1" class="sinEnviar">a</label><option value="0" name="opt1">Sin enviar</option>
                <option value="1" class="revision">En revisión</option>
                <option value="2" class="aceptado">Publicado</option>
                <option value="3" class="comenzado">Comenzado</option>
                <option value="4" class="terminado">Terminado</option>
                <option value="5" class="rechazado">Rechazado</option>
                <option value="6" class="rechazado">Expirado</option>
            </select>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <a (click)="nuevoProyecto()" class="btn btn-primary rounded-circle">
                <i class="bi bi-plus-lg">Nuevo Proyecto</i>
            </a>
        </div>
    </div>
    
    
    <div id="proyectosContainer" class="flex-grow-1 d-flex">
        @if(busqueda==""){
                @for(proyecto of proyectosEmpresa ; track proyecto.getIdProyecto()){
                    @if(filtro==-1){
                        <div class="d-flex contenedor">
                            <div class="card mb-2 shadow-sm bg-success-subtle col-11 ">
                                <div class="card-header pry{{proyecto.getEstadoDelProyecto()}}">
                                    @if(proyecto.getNombre()!=""){
                                        <h4 class="card-title"><b>{{proyecto.getNombre()}}</b></h4>
                                    }@else{
                                        <h4 class="card-title">sin definir</h4>
                                    }                                </div>
                                    <div class="card-body">
                                        <p class="card-text"><strong>Descripción:</strong>{{proyecto.getDescripcion()}}</p>
                                        <p class="card-text"><strong>Modalidad:</strong>{{modalidad[proyecto.getModalidad()]}}</p>
                                        <p class="card-text"><strong>Ubicacion:</strong>{{proyecto.getUbicacion().ciudad}},{{proyecto.getUbicacion().estado}}</p>
                                        <p class="card-text"><strong>Remuneración</strong>
                                        @if(proyecto.isRemunerado()){
                                            <p>Es remunerado</p>  
                                        }
                                        @else {
                                        <p>No es remunerado</p>
                                        }
                                        </p>
                                        <p class="card-text">Estado: {{obtenerEstado(proyecto.getEstadoDelProyecto())}}</p>
                                        <div class="d-flex">
                                            
                                            @if(proyecto.getEstadoDelProyecto()==0){
                                                <button class="btn btn-primary ms-auto" (click)="continuarEdicion(proyecto.getIdProyecto())">Continuar edición</button>
                                            
                                            }@else if (proyecto.getEstadoDelProyecto()==5) {
                                                <button class="btn btn-primary ms-auto" (click)="continuarEdicion(proyecto.getIdProyecto())">Editar</button>
                                            }
                                        </div>
                                    </div>
                        </div>      
                        </div>      
                    }@else if(proyecto.getEstadoDelProyecto()==filtro){
                        <div class="d-flex contenedor">
                            <div class="card mb-2 shadow-sm bg-success-subtle col-11 ">
                                <div class="card-header pry{{proyecto.getEstadoDelProyecto()}}">
                                    <h4 class="card-title"><b>{{proyecto.getNombre()}}</b></h4>
                                </div>
                                <div class="card-body">
                                    <p class="card-text"><strong>Descripción:</strong>{{proyecto.getDescripcion()}}</p>
                                    <p class="card-text"><strong>Modalidad:</strong>{{modalidad[proyecto.getModalidad()]}}</p>
                                    <p class="card-text"><strong>Ubicacion:</strong>{{proyecto.getUbicacion().ciudad}},{{proyecto.getUbicacion().estado}}</p>
                                    <p class="card-text"><strong>Remuneración</strong>
                                    @if(proyecto.isRemunerado()){
                                        <p>Es remunerado</p>  
                                    }
                                    @else {
                                    <p>No es remunerado</p>
                                    }
                                    </p>
                                    <p class="card-text">Estado: {{obtenerEstado(proyecto.getEstadoDelProyecto())}}</p>
                                    <div class="d-flex">
                                        
                                        @if(proyecto.getEstadoDelProyecto()==0){
                                            <button class="btn btn-primary ms-auto" (click)="continuarEdicion(proyecto.getIdProyecto())">Continuar edición</button>
                                        
                                        }@else if (proyecto.getEstadoDelProyecto()==5) {
                                            <button class="btn btn-primary ms-auto" (click)="continuarEdicion(proyecto.getIdProyecto())">Editar</button>
                                        }
                                    </div>
                                </div>
                        </div> 
                    </div>
                    }

               
            }    
            @empty{
                <h3>Sin proyectos, crea uno nuevo</h3>
            }
        }@else{
            @for(proyecto of getProyectosBusqueda();track proyecto.getIdProyecto()){
                <div class="d-flex contenedor" >
                    @if(filtro==-1){
                        <div class="card mb-2 shadow-sm bg-success-subtle col-11 ">
                            <div class="card-header pry{{proyecto.getEstadoDelProyecto()}}">
                                <h4 class="card-title"><b>{{proyecto.getNombre()}}</b></h4>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><strong>Descripción:</strong>{{proyecto.getDescripcion()}}</p>
                                <p class="card-text"><strong>Modalidad:</strong>{{modalidad[proyecto.getModalidad()]}}</p>
                                <p class="card-text"><strong>Ubicacion:</strong>{{proyecto.getUbicacion().ciudad}},{{proyecto.getUbicacion().estado}}</p>
                                <p class="card-text"><strong>Remuneración</strong>
                                @if(proyecto.isRemunerado()){
                                    <p>Es remunerado</p>  
                                }
                                @else {
                                <p>No es remunerado</p>
                                }
                                </p>
                                <p class="card-text">Estado: {{obtenerEstado(proyecto.getEstadoDelProyecto())}}</p>
                                <div class="d-flex">
                                    
                                    @if(proyecto.getEstadoDelProyecto()==0){
                                        <button class="btn btn-primary ms-auto" (click)="continuarEdicion(proyecto.getIdProyecto())">Continuar edición</button>
                                    
                                    }@else if (proyecto.getEstadoDelProyecto()==5) {
                                        <button class="btn btn-primary ms-auto" (click)="continuarEdicion(proyecto.getIdProyecto())">Editar</button>
                                    }
                                </div>
                            </div>
                        </div>            
                    }@else if(proyecto.getEstadoDelProyecto()==filtro){
                    <div class="d-flex">
                        <div class="card mb-2 shadow-sm bg-success-subtle col-11 ">
                            <div class="card-header pry{{proyecto.getEstadoDelProyecto()}}">
                                <h4 class="card-title"><b>{{proyecto.getNombre()}}</b></h4>
                            </div>
                            <div class="card-body">
                                <p class="card-text"><strong>Descripción:</strong>{{proyecto.getDescripcion()}}</p>
                                <p class="card-text"><strong>Modalidad:</strong>{{modalidad[proyecto.getModalidad()]}}</p>
                                <p class="card-text"><strong>Ubicacion:</strong>{{proyecto.getUbicacion().ciudad}},{{proyecto.getUbicacion().estado}}</p>
                                <p class="card-text"><strong>Remuneración</strong>
                                @if(proyecto.isRemunerado()){
                                    <p>Es remunerado</p>  
                                }
                                @else {
                                <p>No es remunerado</p>
                                }
                                </p>
                                <p class="card-text">Estado: {{obtenerEstado(proyecto.getEstadoDelProyecto())}}</p>
                                <div class="d-flex">
                                    
                                    @if(proyecto.getEstadoDelProyecto()==0){
                                        <button class="btn btn-primary ms-auto" (click)="continuarEdicion(proyecto.getIdProyecto())">Continuar edición</button>
                                    
                                    }@else if (proyecto.getEstadoDelProyecto()==5) {
                                        <button class="btn btn-primary ms-auto" (click)="continuarEdicion(proyecto.getIdProyecto())">Editar</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    }

                </div>
            }    
            @empty{
                <h3>Sin proyectos, crea uno nuevo</h3>
            }
        }
    
            
    </div>