.card:hover {
    transform: translateY(-5px);
    transition: transform 0.2s;
}
.card{
    display: flex;
}
#proyectosContainer{
    display: flex;
    flex-wrap: wrap;
}
.card-header{
    font-weight: bold;
}
.contenedor{
    max-width: 24%;
    width: 22%;
    margin: 1%;
    position: relative;
}
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
.btn-outline-secondary {
    border-color: #61666b;
}
.input-group {
    max-width: 400px;
}
.indicador{
    position: absolute;
    align-self: flex-end;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    z-index: 10px;
}
div.pry0{
    background-color: rgb(247, 127, 83);;
    /*color: rgb(247, 127, 83);¨*/
}
div.pry5{
    background-color: rgba(250, 0, 0, 0.705);
}
div.pry2{
    background-color: rgba(0, 128, 0, 0.589);
}
div.pry1{
    background-color: rgba(255, 217, 0, 0.589);
}
div.pry3{
    background-color: #007bff7e;
}
div.pry4{
    background-color: rgba(105, 90, 205, 0.466);
}
div.pry6{
    background-color: #61666b77;
}
.card-title{
    text-align: center;
}