<div class="d-flex">
    <div>
        
        <img src="https://www.unpa.edu.mx/images/unpa2.jpg" alt="Logo" class="img-fluid" style="height: 60px;">
        <a href="unpa.edu.mx" class="text-dark">Universidad Del Papaloapan</a>
    </div>
    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/solicitud" routerLinkActive="active">Solicitar Estancias</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLink="/validarPry" routerLinkActive="active">Validar Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/catalogo" routerLinkActive="active">Catálogo de Empresas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/validarSolicitud" routerLinkActive="active">Validar Solicitud</a>
        </li>
  </ul>  
</div>
