<ul class="nav nav-pills">
      <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="/proyectos" routerLinkActive="active">Proyectos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/solicitud" routerLinkActive="active">Solicitar Estancias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/validarPry" routerLinkActive="active">Validar Proyectos</a>
        </li>
</ul>
  