<div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2 class="text-center mb-4">EMPRESAS DISPONIBLES</h2>
        <div class="search-container">
          </div>
        <div class="company-list">
          <!-- Las tarjetas de empresa se agregarán aquí dinámicamente -->
        </div>
      </div>
    </div>
  </div>
  

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Open modal</button>
 
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Justifique a la empresa su decisión</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Mensaje:</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Enviar mensaje</button>
        </div>
      </div>
    </div>
  </div>




  <ol>
@for(empresa of empresas;track empresa.getIdEmpresa()){
  <div class="company-card" data-empresa-id="${empresa.getIdEmpresa()}">
    <img src="https://via.placeholder.com/100" alt="${empresa.getNombre()}" class="company-logo">
    <h3>{{empresa.getNombre()}}</h3>
    <p>{{empresa.getDescripcion()}}</p>
    <button class="verProyectosBtn" (click)="verProyectos(empresa.getIdEmpresa())">Ver Proyectos</button>
    @if(abrirProyectos[$index]==true){
      <div id="proyectosContainer">
        @for(proyecto of getProyectosEmpresa(empresa.getIdEmpresa());track proyecto.getIdProyecto()){
          @if(proyecto.getEstadoDelProyecto()==1){
            <div class="project">
                <p>Nombre del proyecto:</p><h4>{{proyecto.getNombre()}}</h4>
                <p><strong>Actividades:</strong>{{proyecto.getDescripcion()}}</p>
                <p><strong>Modalidad:</strong>{{obtenerModalidad(proyecto.getModalidad())}}</p>
                <button id="AceptarPry" (click)="aceptar(empresa.getIdEmpresa(),proyecto.getIdProyecto())" >Aceptar Proyecto</button>
                <button id="RechazarPry" (click)="rechazar(empresa.getIdEmpresa(),proyecto.getIdProyecto())">Rechazar Proyecto</button>
              </div>
        }
            @else if(proyecto.getEstadoDelProyecto()==2){
              <div class="project">
                <p>Nombre del proyecto:</p><h4>{{proyecto.getNombre()}}</h4>
                <p><strong>Actividades:</strong>{{proyecto.getDescripcion()}}</p>
                <p><strong>Modalidad:</strong>{{obtenerModalidad(proyecto.getModalidad())}}</p>
                <p><strong>Estado del proyecto: ACEPTADO</strong></p>
              </div>
            }
            @else{
              <div>PROYECTO RECHAZADO</div>
            } 
        }
      </div>
    }
  </div>
    
  
  
  <!--<li><a href="" (click)="mostrarEmpresas($event)">{{empresa.getNombre()}}</a></li>-->
}
</ol>

<img src="/assets/images/unpa2.jpg">