<div class="bg-success d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 shadow">
        <div class="d-flex justify-content-center"> </div>
            <div id="titulo" class="text-center fs-1">Validar Solicitud</div>
           <!-- <div class="fw-bold mt-2">
                <label for="inconveniente" >Seleccione una carrera:</label>
            </div>
            <div class="mt-2"> 
                <select class="form-select" aria-label="Default select example">
                    <option selected>Ingeniería en computación</option>
                    <option value="1">Ingeniería en Diseño</option>
                    <option value="2">Ingeniería en Acuicultura</option>
                    <option value="3">Ingeniería en Agrícola Tropical</option>
                    <option value="4">Ingeniería en Mecatrónica</option>
                    <option value="5">Licenciatura en Zooctenia</option>
                    <option value="6">Licenciatura en Matemáticas Aplicadas</option>
                </select>
            </div>-->
            <br>
            <br>
            <div class="container mt-3">           
                <table class="table table-bordered table-hover ">
                    <thead>
                        <tr>
                            <th>Nombre del alumno</th>
                            <th>Solicitud</th>
                            <th>Semestre</th>
                            <th>Validación</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="align-middle">
                            <td>Maritza Junnuet Medel Gomez </td>
                            <td><a routerLink="/solitudValidar" routerLinkActive="active-link">Solicitud</a></td>
                            <td>6</td>
                            <td>  </td>
                        </tr>
                    <!-- <tr class="align-middle">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>  </td>
                        </tr>
                        <tr class="align-middle">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>  </td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
</div>

