.redondo {
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.opiniones-container {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
}

.card {
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
}
.btn-secondary{
    margin-right: 15px;
    background-color: white;
    color: black;
}
i{
    color:rgb(255, 255, 41);
}
.star-rating {
    font-size: 2rem;
    color: #d3d3d3;
    cursor: pointer;
  }
  .star-rating .bi-star-fill {
    color: #ffd700;
  }