    <div class="container mt-5 bg-white text-dark redondo">
      <div class="mt-3 d-flex">
        <a class="btn btn-secondary" (click)="salir()">Regresar</a>
     </div>
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="d-flex">
                <img src="{{empresa.getLogo()}}" alt="logo de {{empresa.getNombre()}}" width="100px" height="50px">
                <h2 id="nombreEmpresa"><a href="{{empresa.getPaginaWeb()}}">{{empresa.getNombre()}}</a></h2>
              </div>
              <div class="container mt-5 bg-white text-dark redondo">
                <h3>Sobre la empresa:</h3>
                <p>{{empresa.getDescripcion()}}</p>
                <div class="mt-3">
                    <p><strong>Sitio web:</strong> <a href="{{empresa.getPaginaWeb()}}">{{empresa.getPaginaWeb()}}</a></p>
                    <p><strong>Sector:</strong> {{empresa.getOcupacionPrincipal()}}</p>
                </div>
            </div>
            <h2>Apoyos</h2>
            @if(apoyos){
                <div id="apoyosContainer" class="d-flex flex-wrap">
                    @if(apoyos.getAlimentos()){
                        <div class="card m-2" style="width: 12rem;">
                            <div class="card-header">
                                <h4 class="card-title">Beca Alimentaria</h4>
                            </div>
                            <div class="card-body">
                              <p class="card-text">La empresa suele ofrecer beca para alimentos</p>
                            </div>
                          </div>
                    }
                    @if(apoyos.getBeca()){
                        <div class="card m-2" style="width: 12rem;">
                            <div class="card-header">
                                <h4 class="card-title">Beca Monetaria</h4>
                            </div>
                            <div class="card-body">
                              <p class="card-text">La empresa suele ofrecer una beca monetaria para los alumnos</p>
                            </div>
                          </div>
                    }
                    @if(apoyos.getHospedaje()){
                        <div class="card m-2" style="width: 12rem;">
                            <div class="card-header">
                                <h4 class="card-title">Beca de hospedaje</h4>
                            </div>
                            <div class="card-body">
                              <p class="card-text">La empresa suele ofrecer beca para el hospedaje de los alumnos</p>
                            </div>
                          </div>
                    }
                    @if(apoyos.getSalario()){
                        <div class="card m-2" style="width: 12rem;">
                            <div class="card-header">
                                <h4 class="card-title">Salario</h4>
                            </div>
                            <div class="card-body">
                              <p class="card-text">La empresa suele ofrecer un salario a los alumnos</p>
                            </div>
                          </div>
                    }
                    @if(apoyos.getTransporte()){
                        <div class="card m-2" style="width: 12rem;">
                            <div class="card-header">
                                <h4 class="card-title">Beca de transporte</h4>
                            </div>
                            <div class="card-body">
                              <p class="card-text">La empresa suele ofrecer beca para transportes</p>
                            </div>
                          </div>
                    }
                  </div>
            }
            
          </div>
          
          
          <div class="col-md-6">
            <div class="col-md-6">
              <p>Calificación general: @for(estrella of getEstrellas(getCalificacionTotal());track estrella){
                @if(estrella==true){
                        <i class='bi bi-star-fill'></i>
                    } @else {
                        <i class='bi bi-star'></i>
                    }
            }</p>
              <h2>Opiniones de otros usuarios</h2>
            </div>
            <div class="opiniones-container" id="contenedorOpiniones">
                @for(opinion of getSomeOpinions() ; track opinion.getIdEmpresa()){
                    <div class="opinion mb-3">
                        <p><strong>{{opinion.getUsuario()}}:</strong> {{opinion.getOpinion()}}</p>
                        <p>Calificación: @for(estrella of getEstrellas(opinion.getCalificacion());track estrella){
                            @if(estrella==true){
                                    <i class='bi bi-star-fill'></i>
                                } @else {
                                    <i class='bi bi-star'></i>
                                }
                        }</p>
                    </div>
                }@empty {<h4>Sin opiniones</h4>}
                @if(mostrando<opinionesDeLaEmpresa.length){
                  <p class="text-center" (click)="masOpiniones()">mostrar mas</p>
                }
            </div>
            <div class="container mt-5 bg-white text-dark redondo" id="dejarOpinion">
                <h5>Dejar una opinión</h5>
                <form id="formAgregarOpinion" [formGroup]="formulario">
                    <div class="mb-3">
                        <label for="calificacion" class="form-label">Calificación:</label>
                        <div class="star-rating">
                          @for(estrella of estrellas;track estrella){
                            @if(formulario.get("txtCalificacion")?.value>=estrella){
                              <i class="bi bi-star-fill" (click)="setEstrellas(estrella)"></i>
                            }@else{
                              <i class="bi bi-star" (click)="setEstrellas(estrella)"></i>
                            }
                          }
                        </div>
                        <input type="hidden" name="calificacion" id="calificacion" formControlName="txtCalificacion">
                        <!--<select class="form-select" id="calificacion" name="calificacion" formControlName="optCalificacion">
                            <option value="1">1 estrella</option>
                            <option value="2">2 estrellas</option>
                            <option value="3">3 estrellas</option>
                            <option value="4">4 estrellas</option>
                            <option value="5">5 estrellas</option>
                        </select>-->
                    </div>
                    <div class="mb-3">
                        <label for="opinion" class="form-label">Opinión:</label>
                        <textarea class="form-control" id="opinion" name="opinion" rows="3" formControlName="txtOpinion"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="nuevaOpinion()">Agregar Opinión</button>
                </form>
            </div>
          </div>
        </div>
        <!-- Nueva sección para apoyos -->
          
  </div>