<ol>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <h2 class="text-center mb-4"></h2>
          <div class="search-container">
          </div>
          <div class="company-list">
            <h2 id="titulo2">CATÁLOGO DE EMPRESAS DISPONIBLES</h2>
            <!-- Las tarjetas de empresa se agregarán aquí dinámicamente -->
          </div>
        </div>
      </div>
    </div>
  
    @for(empresa of empresas; track empresa.getIdEmpresa()){ 
    <div class="company-card" data-empresa-id="${empresa.getIdEmpresa()}">
      
      <img src="{{empresa.getLogo()}}" alt="${empresa.getNombre()}" class="company-logo">
      <div class="d-flex justify-content-between">
        <h1><strong> {{empresa.getNombre()}} </strong></h1>
       
      </div>
      <h3>{{empresa.getDescripcion()}}</h3>
      <!-- boton para ver info de la empresa-->
      
      @if(empresaConPry(empresa.getIdEmpresa())){

        @if(flagsProyectos[getIndexEmpresa(empresa.getIdEmpresa())]==true){
          <button id="btnVer"  (click)="verProyectos(empresa.getIdEmpresa())">Ocultar Proyectos</button>
        }
        @else{
          <button id="btnVer" (click)="verProyectos(empresa.getIdEmpresa())">Ver Proyectos</button>
        }
     }
      <button class="btnAbrir" (click)="abrirEmpresa(empresa.getIdEmpresa())">más información</button>
    
  
  
  
      @if(flagsProyectos[getIndexEmpresa(empresa.getIdEmpresa())]==true){
      <div id="proyectosContainer" class="d-flex">
        @for(proyecto of getProyectosEmpresa(empresa.getIdEmpresa());track proyecto.getIdProyecto()){
     
  
        @if(proyecto.getEstadoDelProyecto()==2){
  
        <div class="project">
          <h4><strong>{{proyecto.getNombre()}}</strong></h4>
          <p><strong>Descripción:</strong>{{proyecto.getDescripcion()}}</p>
          @if(proyecto.getModalidad()==0){
          
          }@else {
            <p><strong>Ubicacion:</strong>{{proyecto.getUbicacion().ciudad}},{{proyecto.getUbicacion().estado}}</p>
          }
         
     
            @if(proyecto.isRemunerado()){
             <p>Es remunerado</p>  
         }
         @else {
           <p>No es remunerado</p>
         }           <p><strong>Fecha de Expiración:</strong>{{getFechaFormato(proyecto.getFechaDeExpiracion())}}</p>
        </div>
        }
  
        @else{
        }
        }
      </div>
      }
    </div>
  }
  
    
  </ol>