<div class="container bg-white text-dark p-4 mt-4">
  <header>
    <h1 class="text-center">Estancias Profesionales</h1>
  </header>
  <div class="row">
    <div class="col-md-3">
      <!-- Menú de Contenidos -->
      <nav class="nav flex-column bg-light p-3 rounded">
        <a class="nav-link active" href="#que-son">¿Qué son las EP?</a>
        <a class="nav-link" href="#cuando-realizar">¿Cuándo hacerlas?</a>
        <a class="nav-link" href="#donde-realizar">¿Dónde hacerlas?</a>
        <a class="nav-link" href="#porque-realizar">¿Por qué se deben realizar?</a>
        <a class="nav-link" href="login.html">Iniciar Sesión</a>
      </nav>
    </div>

    <div class="col-md-9">
      <section id="que-son" class="menta p-4">
        <div class="row">
          <div class="col-md-12 d-flex">
            <div id="carouselExample" class="carousel slide w-100">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../images/imagen1.jpg" class="d-block w-100" alt="imagen1">
                </div>
                <div class="carousel-item">
                  <img src="../images/imagen2.jpg" class="d-block w-100" alt="imagen2">
                </div>
                <div class="carousel-item">
                  <img src="../images/426556959_804063931757858_4400133080944047903_n.jpg" class="d-block w-100" alt="imagen3">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
          <div class="col-md-12 mt-3">
            <h2>¿Qué son las Estancias Profesionales?</h2>
            <p>Es la actividad académica obligatoria que deberá realizar todo alumno en instituciones de los sectores público, social o privado a nivel local, nacional o en el extranjero; en donde desarrollen y apliquen sus conocimientos dentro del área de su especialidad y de acuerdo con el plan de estudios al que pertenecen.</p>
          </div>
        </div>
      </section>
    </div>
    <div class="row">
      <section id="cuando-realizar" class="menta p-4">
        <div class="row">
          <div class="col-md-12">
            <h2>¿Cuándo realizar mis estancias?</h2>
            <p>Los alumnos deberán realizar la Estancia Profesional en 2 periodos de verano, donde cada una deberá ser acreditada con un mínimo de 280 horas (Sólo se podrá realizar una estancia por periodo de verano) en jornadas diarias de 8 horas única y exclusivamente en días hábiles de lunes a viernes durante aproximadamente 8 semanas (con el Vo.Bo. de la empresa):
              <ol>
                <li>EP1 al finalizar el 6to. semestre</li>
                <li>EP2 al finalizar el 8vo. semestre</li>
              </ol>
              para finalmente acreditar 560 hrs. de Estancias Profesionales (2 cartas de liberación, una por cada periodo expedida por EPYSS UNPA que deberán entregar en el Depto. de Servicios Escolares), como requisito previo para titulación.
          </div>
        </div>
      </section>

      <section id="donde-realizar" class="menta p-4">
        <div class="row">
          <div class="col-md-12">
            <h2>¿Dónde realizarlas?</h2>
            <p>Las estancias profesionales se deben realizar en una empresa o institución pública o privada. El alumno deberá realizar actividades relacionadas con su campo de estudios. Si es alumno de la Universidad del Papaloapan puede consultar nuestro <a href="">Catálogo de empresas</a> después de iniciar sesión.</p>
            <p>En caso de no ser alumno de la UNPA o no tener interés en las empresas del catálogo, puede consultar otras opciones en bolsas de trabajo para buscar lugares u ofertantes:</p>
            <ol>
              <li><a href="http://www.occ.com.mx">OCC</a></li>
              <li><a href="http://www.adecco.com.mx/">Adecco</a></li>
              <li><a href="http://www.manpower.com.mx/">Manpower</a></li>   
              <li>entre otras...</li>
            </ol>
          </div>
        </div>
      </section>

      <section id="porque-realizar" class="menta p-4">
        <div class="row">
          <div class="col-md-12">
            <h2>¿Por qué se deben realizar las estancias profesionales?</h2>
            <p>Las estancias profesionales son el primer acercamiento del alumno al mundo laboral, por ello es necesario tratarlas con seriedad y, sobre todo, aprender sobre el área laboral a la que se piensan dedicar. Por otra parte, las estancias profesionales brindan una invaluable oportunidad para adquirir experiencia práctica y aplicar los conocimientos teóricos obtenidos durante el período de estudio. Es un momento crucial para desarrollar habilidades profesionales, establecer contactos en el ámbito laboral y explorar posibles áreas de especialización.</p>
            <p>Es importante destacar que el éxito en las estancias profesionales no solo depende del desempeño durante el periodo asignado, sino también de una cuidadosa planificación previa. Los estudiantes deben investigar sobre las empresas u organizaciones donde desean realizar sus prácticas, entender sus objetivos y cultura empresarial, así como prepararse para enfrentar los desafíos y oportunidades que puedan surgir durante este proceso de aprendizaje.</p>
            <p>Además, las estancias profesionales pueden ser un punto de inflexión en la trayectoria profesional de un estudiante, proporcionando claridad sobre su vocación y ayudándoles a tomar decisiones informadas sobre su futuro laboral.</p>
            <p>En resumen, las estancias profesionales representan mucho más que un simple requisito académico; son una etapa fundamental en la formación de los futuros profesionales, donde la dedicación, el compromiso y el aprendizaje continuo son elementos clave para alcanzar el éxito.</p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
