.text-center {
    text-align: center;
}
.table-container {
    margin-bottom: 0; /* Quitar margen inferior para pegar las tablas */
}
#giro{
    width: 50%;
}
.container {
    display: flex;
    flex-direction: column;
}
.table {
    margin-bottom: 0; /* Eliminar el margen inferior entre las tablas */
}
.table td, .table th {
    padding: 0.5rem; /* Ajustar el relleno de las celdas */
}
th{
border-color: black;
}
td{
border-color: black;
}
tr{
    border-color: black;
}

.container-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    color: black;
}
p{
    color: black;
}
h6{
    color: black;
}

#jefeArea{
    width: 55%;
}

#ancho{
    width: 75%;
}