.text-center {
    text-align: center;
}
.table-container {
    margin-bottom: 0; /* Quitar margen inferior para pegar las tablas */
}
#giro{
    width: 50%;
}
.container {
    display: flex;
    flex-direction: column;
}
.table {
    margin-bottom: 0; /* Eliminar el margen inferior entre las tablas */
}
.table td, .table th {
    padding: 0.5rem; /* Ajustar el relleno de las celdas */
}
th{
border-color: black;
}
td{
border-color: black;
}
tr{
    border-color: black;
}
.content-wrapper {
    display: flex;
    align-items: center;
    gap: 20px; /* Distancia entre el párrafo y la tabla */
}
#modiTabla{
    width: 90%; /* Ancho de la tabla */
}
#modiTabla td {
    height: 70px; /* Altura de la celda */
    background-color: #d3d3d3; /* Color de relleno gris claro */
}
.margin-top {
    margin-top: 0px; /* Margen superior para el párrafo debajo de la tabla */
    text-align: center; /* Centra el texto del párrafo */

}
.custom-underline {
    /*text-decoration: underline;
    text-decoration-color: black;*/
    background-color: black;
    color: white;
}
.container-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h1{
    color: black;
}
p{
    color: black;
}
h6{
    color: black;
}

#jefeArea{
    width: 55%;
}

#ancho{
    width: 75%;
}