<div class="bg-success d-flex justify-content-center align-items-center vh-400">
    <div class="bg-white p-5 rounded-5 shadow">
        <div class="container mt-3">
            <div class="container container-custom">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <img src="https://www.unpa.edu.mx/images/unpa2.jpg" alt="Logo" class="img-fluid" style="height: 60px;">
                    </div>
                    <div class="col">
                        <h1 class="mb-0 text-center">Universidad del Papaloapan</h1>
                        <h6 class="text-muted text-center">Coordinación de Estancias Profesionales y Servicios Sociales</h6>
                    </div>
                </div>
            </div>
          </div>
        <form [formGroup]="info">
             <!-- <form [formGroup]="info" (ngSubmit)="enviarSolicitud()">-->
            <div class="container mt-3 d-flex flex-column align-items-end">           
             <!-- <div class="table-container w-50">-->
                <table class="table table-bordered table-hover text-center m-0">
                  <thead>
                    <tr>
                      <th>Formato de solicitud <br> EP-Ext.2024</th>
                    </tr>
                  </thead>
                </table>
                <table class="table table-bordered table-hover m-0">
                  <tbody>
                    <tr class="align-middle">
                      <td>Fecha de Entrega:</td>
                      <td><input type="text" formControlName="txtFechaEntrega"></td>
                    </tr>
                  </tbody>
                </table>
            </div>
          <br>
            <h6>Datos del Residente:</h6>
            <div class="container mt-3">           
              <table class="table table-bordered table-hover">
                <tbody>
                  <tr class="align-middle">
                    <td>Carrera:</td>
                    <td><input type="text" formControlName="txtCarrera"></td>
                    <td>Matricula:</td>
                    <td><input type="text" formControlName="txtMatricula"></td>
                  </tr>
                  <tr class="align-middle">
                    <td>Nombre:</td>
                    <td><input id="ancho" type="text" formControlName="txtNombre"></td>
                    <td>Semestre:</td>
                    <td><input type="text" formControlName="txtSemestre"></td>
                  </tr>
                </tbody>
              </table>
            </div>
        <!-- </form>-->
          <!--<div class="btn btn-success" (click)="obtenerDatosAlumno()">Obtener mis datos</div>-->
        <br>
        <h6>Datos de la empresa:</h6>
        <div class="container mt-3">           
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr class="align-middle">
                        <td>Nombre de la empresa:</td>
                        <td>
                          <input  type="text" formControlName="txtNombreEmpresa"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <!--<div class="mt-2"> 
            
        </div>-->
        <div class="container mt-3">           
          <table class="table table-bordered table-hover">
              <tbody>
                  <tr class="align-middle">
                      <td>Proyecto a trabajar:</td>
                      <td> <input  type="text" formControlName="txtproyecto"></td>
                  </tr>
              </tbody>
          </table>
        </div>
        <br>
    
      <!-- <button id="boton" class="btn btn-success" (click)="agregarEmpresa()"> {{ estado ? 'Ocultar Información' : 'Añadir Empresa' }}Añadir empresa</button>
       <br>
       @if(estado){
        <br>
        <h6>Datos de la empresa:</h6>
          <div class="container mt-3">           
              <table class="table table-bordered table-hover">
                  <tbody>
                      <tr class="align-middle">
                          <td>Nombre de la empresa:</td>
                          <td><input  type="text" formControlName="txtNombreEmpresa2"></td>
                      </tr>
                  </tbody>
              </table>
              <table class="table table-bordered table-hover">
                  <tbody>
                      <tr class="align-middle">
                          <td>Giro:</td>
                          <td><input id="giro" type="text" formControlName="txtGiro2"></td>
                      </tr>
                  </tbody>
              </table>
              <table class="table table-bordered table-hover">
                  <tbody>
                      <tr class="align-middle">
                          <td>Dirección:</td>
                          <td><input type="text" formControlName="txtDireccionEmpresa2"></td>
                          <td>C.P:</td>
                          <td><input type="text" formControlName="txtCp2"></td>
                      </tr>
                  </tbody>
              </table>
              <table class="table table-bordered table-hover">
                <tbody>
                    <tr class="align-middle">
                        <td>Localidad:</td>
                        <td><input type="text" formControlName="txtLocalidad2"></td>
                        <td>Municipio:</td>
                        <td><input type="text" formControlName="txtMunicipio2"></td>
                        <td>Estado:</td>
                        <td><input type="text" formControlName="txtEstado2"></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr class="align-middle">
                        <td>Tel. De oficinas:</td>
                        <td><input type="text" formControlName="txtTelOficina2"></td>
                        <td>Ext.:</td>
                        <td><input type="text" formControlName="txtExt2"></td>
                    </tr>
                    <tr class="align-middle">
                        <td>Tel.Fax:</td>
                        <td><input type="text" formControlName="txtTelFax2"></td>
                        <td>Página web:</td>
                        <td><input type="text" formControlName="txtPagina2"></td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr class="align-middle">
                            <td>Nombre del jefe de R.H ó <br> Contacto en la empresa:</td>
                            <td><input id="giro"type="text" formControlName="txtNombreJefe2" placeholder="indicar titulo Lic,Ing.,Mtro.,Dr.,o C." /></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered table-hover">
                    <tbody>
                        <tr class="align-middle">
                            <td>E-mail:</td>
                            <td><input type="text" formControlName="txtEmailEmpresa2"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <h6>Área de interés:</h6>
            <table class="table table-bordered table-hover  m-0">
              <tbody>
                  <tr class="align-middle">
                      <td>Área o departamento:</td>
                      <td><input type="text" formControlName="txtArea2"></td>
                  </tr>
                  <tr class="align-middle">
                      <td>Nombre del jefe de área:</td>
                      <td><input id= "jefeArea" type="text" formControlName="txtJefeInteres2" placeholder="indicar titulo Lic,Ing.,Mtro.,Dr.,o C." /></td>
                  </tr>
                  <tr class="align-middle">
                      <td>E-mail:</td>
                      <td><input type="text" formControlName="txtAreaEmail2" ></td>
                  </tr>
                  <tr class="align-middle">
                      <td>Nombre del jefe inmediato:</td>
                      <td><input   id= "giro" type="text" formControlName="txtNombreInmediato2" placeholder="indicar titulo Lic,Ing.,Mtro.,Dr.,o C." /></td>
                  </tr>
              </tbody>
          </table>
          <table class="table table-bordered table-hover  m-0">
              <tbody>
                <tr class="align-middle">
                  <td>Cargo:</td>
                  <td><input type="text" formControlName="txtCargo2"></td>
                  <td>E-mail:</td>
                  <td><input id="ancho" type="text" formControlName="txtEmailInmediato2"></td>
              </tr>
          </tbody>
      </table>
  <br>
      <table class="table table-bordered table-hover  m-0">
          <tbody>
            <tr class="align-middle">
              <td>Nombre del proyecto a trabajar:</td>
              <td><input type="text" formControlName="txtNombrePry"></td>
              <td>Descripción del proyecto:</td>
              <td><input id="ancho" type="text" formControlName="txtDescripcion"></td>
          </tr>
      </tbody>
  </table>
      <br>
      <button id="boton" class="btn btn-success" (click)="ocultar()">Ocultar información</button>
       } -->
        <div class="container mt-3">            
        <h6>Periodo de estancias y horario:</h6>
        <table class="table table-bordered table-hover ">
            <tbody>
                <tr class="align-middle">
                    <td>Fecha de inicio:</td>
                    <td> 
                      <input type="text" formControlName="txtInicio" ></td>
                    <td>Fecha de término:</td>
                    <td>
                      <input type="text" formControlName="txtTermino" ></td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="table-container w-100">
            <table class="table table-bordered table-hover text-center m-0">
                <thead>
                    <tr>
                        <th>Horario</th>
                    </tr>
                </thead>
            </table>
        </div>
        <div class="table-container w-100">
            <table class="table table-bordered table-hover m-0">
                <tbody>
                    <tr class="align-middle">
                        <td>Lunes a viernes</td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;De:<input type="text" formControlName="txtDe"/>Hrs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  A:<input type="text" formControlName="txtA"/>Hrs</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
    </div>
    <div class="botones d-flex justify-content-end"> 
        <div class="btn btn-success d-flex gap-2 justify-content-center border mt-2 shadow-sm">
            <div class="fw-semibold">Aceptar </div>
        </div>
        <div class="btn btn-success d-flex gap-2 justify-content-center border mt-2 shadow-sm" (click)="rechazarSolicitud()">
            <div class="fw-semibold" >Rechazar </div>
        </div>
    </div>
    
   <!-- <div class="btn btn-success"  (click)="enviarSolicitud()">Enviar solicitud</div>&nbsp;  <div class="btn btn-success">Generar PDF</div>-->
  </form>
    </div>
    
  </div>