th{
    border-color: black;
    }
    td{
    border-color: black;
    }
    tr{
        border-color: black;
    }

    h1{
        color: black;
    }
    h6{
        color: black;
        font-size: medium;
    }